/* CSS Document */

.navbar-center {
	margin: auto;
	max-width: 1250px;
}

.list-group-item:hover {
	background-color: #EEE;
}

.tab-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: auto;
}